@layer base {
    h1 {
       font-size:4rem;
       font-family:"lemon";
       color:black;
    }

    h2 {
        font-size:3rem;
        font-family:"Inter";
        color:black;
    }

    h3 {
        font-size:2.5rem;
        font-family:"Inter";
        color:black;
    }

    h4 {
        font-size:2rem;
        font-family:"Inter";
        color:black;
    
    }

    p {
        color:black;
        font-size:16px;
        line-height: 1.6;
    }

    .project{
        border-right: 1px solid gray;
        min-width:25%;
        text-align: center;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        gap:20px;
        padding-left:20px;
        padding-right:20px;
    }

    .project_container{
        display: flex;
        flex-direction: row;  
    }
}
