@layer base {
    h1 {
       font-size:4rem;
       font-family:"lemon";
       color:black;
    }

    h2 {
        font-size:3rem;
        font-family:"Inter";
        color:black;
    }

    h3 {
        font-size:2.5rem;
        font-family:"Inter";
        color:black;
    }

    h4 {
        font-size:2rem;
        font-family:"Inter";
        color:black;
    
    }

    p {

        line-height: 1.6;
    }
}
